<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Employee info</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Love+Ya+Like+A+Sister&family=Open+Sans:wght@300&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/6c04b5c22c.js"
	crossorigin="anonymous"></script>
<style type="text/css">
h1 {
	color: black;
	text-align: left;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
}

.header {
	width: 100%;
	height: 100px;
	padding: 25px;
}

.navbar {
	background-color: black;
	padding: 10px;
}

.navbar-item {
	color: white;
}

.input {
	margin: 10px;
}

.box {
	width: 800px;
	margin-left: 15%;
}

.button {
	margin-left: 70%;
	padding: 20px;
}

.label {
	padding: 10px;
}
</style>
</head>
<body>
	<div class="container">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/homePage" style="font-size: 20px">
					Employment System<i class="fa-solid fa-book-open-reader"></i>
				</a> <a role="button" class="navbar-burger" aria-label="menu"
					aria-expanded="false" data-target="navbarBasicExample"> <span
					aria-hidden="true"></span> <span aria-hidden="true"></span> <span
					aria-hidden="true"></span>
				</a>
			</div>
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="/addEmployee">Create Employee<i
						class="fa-light fa-plus"></i></a>
				</div>
			</div>
		</nav>
		<div class="header">
			<h1>Employee</h1>
		</div>
		<div class="box">
			<form th:action="@{'/createCompensations/' + ${employee.id}}"
				th:object="${Compensation}" method="POST">
				<label>Type</label> <br>
				<div class="select" style="margin: 20px">
					<select id="select" th:field="*{type}">
						<option value="Select">Select compensation</option>
						<option value="Salary">Salary</option>
						<option value="Comission">Comission</option>
						<option value="Bonus">Bonus</option>
						<option value="Allowance">Allowance</option>
						<option value="Adjustment">Adjustment</option>
					</select>

				</div>
				<br> <label style="display: block">Amount</label> <input
					class="input form-control" style="width: 40%" type="text"
					th:field="*{amount}" placeholder="Amount"> <br> <label>Description</label>
				<textarea class="textarea" style="margin: 10px" id="description"
					th:field="*{description}" placeholder="Description"></textarea>
				<br> <label>Date</label> <input class="input form-control"
					type="text" th:field="*{date}" placeholder="mm/yy">
				<button class="button is-success" type="submit" id="btn"> 
					<span class="icon is-small"> <i class="fas fa-check"></i>
					</span> <span>Save</span>
				</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	document.getElementById("btn").addEventListener("click", campos); 
	function campos(){
	var select = document.getElementById("select");
	var description = document.getElementById("description");
    if(select.value == "Salary") {
      description.attributes['required'] = '';
      }else{
      description.attributes['required']= 'required';
      }
      };
	</script>
</body>
</html>